body {
  margin: 0;
  font-family: titillium, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "titillium";
  src: local("titillium"),
    url("./assets/style/fonts/Titillium-Regular.otf") format("truetype");
}
