$color-green: #5cb85c;
$color-light-gray: #0000004d;
$color-lighter-gray: #8080807d;
$color-light-black: #000000bf;
$color-white: #fff;
$color-gray: #dcdcdc;
$color-dark-gray: #808080;
$color-lighter-black: #0000006b;
$color-red: #af0b1a;
$color-light-gray-1: #bbb;
